server:
  port: 8080

spring:
  application:
    name: api-gateway
  config:
    import: "optional:consul:"

  cloud:
    loadbalancer:
      ribbon:
        enabled: false

    consul:
      host: consul
      port: 8500
      enabled: true
      discovery:
        health-check-path: /actuator/health
        query-passing: true
      config:
        data-key: application.yml
        prefixes: config
        format: yaml
        default-context: defaults

    gateway:
      server:
        webflux:
          routes:
            - id: product-service
              uri: lb://product-service
              predicates:
                - Path=/api/product/**
            - id: inventory-service
              uri: lb://inventory-service
              predicates:
                - Path=/api/inventory/**
            - id: order-service
              uri: lb://order-service
              predicates:
                - Path=/api/orders/**

          globalcors:
            cors-configurations:
              '[/**]':
                allowedOrigins: "http://localhost:3000"
                allowedHeaders:
                  - "*"
                allowedMethods:
                  - "GET"
                  - "POST"
                  - "OPTIONS"

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
